---
layout: default
title: "Траектория времени"

---

<section id="main" class="section-main scrollspy">
    <h1>
        {% assign mainpagetext = site.data.maintext["mainpagetext"] %}
        <span>{{ mainpagetext.maintext.text1 }}</span>
        <span>{{ mainpagetext.maintext.text2 }}</span>
        <span>{{ mainpagetext.maintext.text3 }}</span>
    </h1>
    <div class="img-main">
        <img src="img/69369319_401617683892133_7863953078796419072_o.png" alt="" class='responsive-img'>
    </div>
</section>
<section id="sclients" class="section section-work-to-clients scrollspy">
    <div class="row">
        <div class="col s12 xl6">
            <h5 class="is-animate">{{ mainpagetext.textWorkClients.motivationtext }}</h5>
        </div>
        <div class="col s12 offset-xl1 xl5">
            <ul class="collapsible">
                {% for directionscompany in mainpagetext.textWorkClients.directionscompany %}
                    <li>
                        <div class="collapsible-header is-animate"><h5>{{directionscompany.header}}</h5><i class="material-icons notranslate" translate="no">arrow_drop_down</i></div>
                        <div class="collapsible-body"><span>{{directionscompany.text}}.</span></div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>  
</section>
<section id="sprojects" class="section section-projects scrollspy">
    <h1>
        <span class="is-animate">Продукты</span>
    </h1>
    <div class="row">
        <div class="col s12 xl6 is-animate">          
            <div class="image-project">
                <a onclick="openPreview(this);">
                    <div class="box-pointer box-pointer2 box-pointer-hidden">
                        <div class="black-box">Посмотреть подробнее</div>
                    </div>
                </a>  
                <a onclick="openPreview(this);">
                    <img class="responsive-img is-animate" src="img/armti.jpg">
                </a>
                <div class="hidden-block-img">
                    <span data-img="img/screen/screentmobis1.png"></span>
                    <span data-img="img/screen/screentmobis2.png"></span>
                    <span data-img="img/screen/screentmobis3.png"></span>
                    <span data-img="img/screen/screentmobis4.png"></span>
                </div>
                <span class="hidden-text">«Т-Мобис.Мобильный инспектор» предназначен для автоматизированной обработки первичных документов и всей сопутствующей оперативной информации в работе тепловой инспекции теплосетевой компании.
                    
                    Решаемые задачи:
                    <ul class="ul-text-preview">
                        <li>Оформление тепловыми инспекторами первичных документов в электронном виде на мобильных устройствах, в т.ч. в режиме недоступности сети Internet;</li>
                        <li>Ведение электронных журналов;</li>
                        <li>Отображение объектов тепловой сети на электронной карте;</li>
                        <li>Формирование отчетности;</li>
                        <li>Отправка отчетов по электронной почте абонентам в ручном и автоматическом режиме;</li>
                        <li>Интеграция с другими корпоративными информационными системами теплосетевой компании.</li>
                    </ul><a target="_blank" href="http://www.timepath.ru/doc/%D0%A1%D0%B2%D0%B8%D0%B4%D0%B5%D1%82%D0%B5%D0%BB%D1%8C%D1%81%D1%82%D0%B2%D0%BE_%D0%BE_%D1%80%D0%B5%D0%B3%D0%B8%D1%81%D1%82%D1%80%D0%B0%D1%86%D0%B8%D0%B8_%D0%A2_%D0%9C%D0%BE%D0%B1%D0%B8%D1%81.pdf">Свидетельство о государственной регистрации программы для ЭВМ № 2017-662201 от 01 ноября 2017 г. Программный комплекс «Т-Мобис» Правообладатель: ООО «Траектория времени»
                    </a>
                </span>
            </div>
            <h5 class="project-h">Мобильный инспектор</h5>
        </div>
        <div class="col s12 xl6">
            <div class="image-project mk-project">
                <a>
                    <div class="box-pointer box-pointer2 box-pointer-hidden">
                        <div class="gray-box">Скоро</div>
                    </div>
                </a>
                <a>
                    <img class="responsive-img" src="img/mk1.jpg">
                </a>
            </div>
            <h5 class="project-h">Мобильный контролёр</h5>
        </div>
    </div>
    <div class="row">
        <div class="col s12 xl6 is-animate">
            <div class="image-project mk-project">
                <a onclick="openPreview(this);">
                    <div class="box-pointer box-pointer2 box-pointer-hidden">
                        <div class="black-box">Посмотреть подробнее</div>
                    </div>
                </a>
                <a onclick="openPreview(this);">
                <img class="responsive-img" src="img/blockchain.jpg">
                </a>
                <div class="hidden-block-img">
                    <span data-img="img/screen/screentmobis8.png"></span>
                    <span data-img="img/screen/screentmobis9.png"></span>
                </div>
                <span class="hidden-text"><h4>Блокчейн-платформа для ведения жилищных очередей</h4>
                    Данное решение позволяет получать всю актуальную информацию о состоянии очереди в текущий момент времени, отслеживать динамику движения, плановую дату достижения цели. Прозрачность доступа к информации обусловлена созданием технологии распределенного реестра, с помощью блокчейн-платформы с открытым исходным кодом — Bitfury Exonum. 
                    Решение для организации очередей обеспечивает:
                    <ul class="ul-text-preview">
                        <li>Прозрачность движения в очереди</li>
                        <li>Корректность данных</li>
                        <li>Безопасность и аудит любых изменений</li>
                    </ul>
                </span>
            </div>
            <h5 class="project-h">Блокчейн-платформа для ведения жилищных очередей</h5>
        </div>
        <div class="col s12 xl6">
            <div class="image-project is-animate">
                <a onclick="openPreview(this);">
                    <div class="box-pointer box-pointer2 box-pointer-hidden">
                        <div class="black-box">Посмотреть подробнее</div>
                    </div>
                </a>
                <a onclick="openPreview(this);">
                    <img class="responsive-img" src="img/academ.jpg">
                </a>
                <div class="hidden-block-img">
                    <span data-img="img/screen/screentmobis5.png"></span>
                    <span data-img="img/screen/screentmobis6.png"></span>
                    <span data-img="img/screen/screentmobis7.png"></span>
                </div>
                <span class="hidden-text">«Т-Мобис.Диспетчерская» - надёжный инструмент контроля за состоянием систем теплопотребления 
                    
                    Решаемые задачи:
                    <ul class="ul-text-preview">
                        <li>Является основным рабочим инструментом сотрудников тепловых инспекций</li>
                        <li>Автоматизирует обработку оперативной информации и первичных документов в работе тепловой инспекции</li>
                        <li>Помогает организовать контроль эксплуатации энергоустановок потребителями на основе собираемых данных</li>
                        <li>Учитывает специфику предприятий коммунальной сферы, отраслевые стандарты и типовые процессы теплотранспортных и сетевых компаний</li>
                    </ul><a target="_blank" href="http://www.timepath.ru/doc/%D0%A1%D0%B2%D0%B8%D0%B4%D0%B5%D1%82%D0%B5%D0%BB%D1%8C%D1%81%D1%82%D0%B2%D0%BE_%D0%BE_%D1%80%D0%B5%D0%B3%D0%B8%D1%81%D1%82%D1%80%D0%B0%D1%86%D0%B8%D0%B8_%D0%A2_%D0%9C%D0%BE%D0%B1%D0%B8%D1%81.pdf">Свидетельство о государственной регистрации программы для ЭВМ № 2017-662201 от 01 ноября 2017 г. Программный комплекс «Т-Мобис» Правообладатель: ООО «Траектория времени»
                    </a>
                </span>
                
            </div>
            <h5 class="project-h">Диспетчерская</h5>
        </div>
    </div>
</section>
<section id="scompany" class="section section-company-text scrollspy">
    <div class="row">
        <div class="col s12 xl6">
            <h5 class="is-animate">{{ mainpagetext.textCommand.motivationtext }}</h5>
            <a href="about.html" class="custom-link is-animate-two transition">Больше о «Траектория времени»</a>
        </div>
        <div class="col s12 xl3 offset-xl3">
            <div class="row">
                <div class="col s6 xl12">
                    <div class="quantity quantity-numberuser">7</div>
                    <div class="quantity-description is-animate">Программистов и аналитиков</div>
                </div>
                <div class="col s6 xl12">
                    <div class="quantity quantity-numberyear">2</div>
                    <div class="quantity-description is-animate">Лет в бизнесе</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="scommandphoto" class="section section-command-photo scrollspy">
    <div class="swiper-container swiper-container-photo">
        <div class="swiper-wrapper">
            <div class="swiper-slide photo-container"><img class="responsive-img" src="img/photo/time.jpg"></div>
            <div class="swiper-slide photo-container"><img class="responsive-img" src="img/photo/photo_20205-03-11_14-51-23.jpg"></div>
            <div class="swiper-slide photo-container"><img class="responsive-img" src="img/photo/funcat.jpg"></div>
            
            <div class="swiper-slide photo-container"><img class="responsive-img" src="img/photo/teaparty.jpg"></div>
            <div class="swiper-slide photo-container"><img class="responsive-img" src="img/photo/timersmenlow.jpg"></div>
            <div class="swiper-slide photo-container"><img class="responsive-img" src="img/photo/akulaimage.jpg"></div>
        </div>
        <!-- Add Pagination -->
        <!--<div class="swiper-pagination"></div>-->
    </div>
</section>
<section id="slistnews" class="section section-list-news scrollspy">
    <div class="row">
        <div class="col s12 offset-xl1 xl10">
            {% for post in site.tags.new limit:3 %}
                <div class="row is-animate">
                    <div class="col s12 xl2">
                        <div class="new-date">{{ post.datestring }}</div>
                    </div>
                    <div class="col s12 xl10">
                        <div class="new-description">
                            <a target="_blank" href="{{ post.link }}">{{ post.text }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<div class="background-section-questions">
    <!--<section class="section section-questions">
        <div class="row">
            <div class="col s12">
                <h4>FAQ</h4>
                <ul class="collapsible">
                    <li class="is-animate">
                        <div class="collapsible-header"><h5></h5><i class="material-icons notranslate" translate="no">arrow_drop_down</i></div>
                        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                    </li>
                </ul>
            </div>
        </div>
    </section>-->
</div>

<script>
    $('.quantity-numberuser').viewportChecker({
        classToAdd: 'is-animate-active',
        offset: 100,
        callbackFunction: function(elem, action){
            var currentNumber = $('.quantity-numberuser').text();
            $({numberValue: currentNumber}).animate({numberValue: 18}, {
                duration: 800,
                easing: 'linear',
                step: function() { 
                    $('.quantity-numberuser').text(Math.ceil(this.numberValue)); 
                }
            });
        },
    });
    $('.quantity-numberyear').viewportChecker({
        classToAdd: 'is-animate-active',
        offset: 100,
        callbackFunction: function(elem, action){
            var currentNumber = $('.quantity-numberyear').text();
            $({numberValue: currentNumber}).animate({numberValue: 5}, {
                duration: 800,
                easing: 'linear',
                step: function() { 
                    $('.quantity-numberyear').text(Math.ceil(this.numberValue)); 
                }
            });
        },
    });   

(function () {
    'use strict';
    var boxElems = document.querySelectorAll('.image-project');
    function onMouseMove(event) {
        var mouseX = event.pageX;
        var mouseY = event.pageY;
        for (var boxElem of boxElems) {
            var pointerElem = boxElem.childNodes[0].nextElementSibling.childNodes[0].nextElementSibling;
            var crd = boxElem.getBoundingClientRect();
            var activePointer = crd.left <= mouseX && mouseX <= crd.right && (crd.top + pageYOffset) <= mouseY && mouseY <= (crd.bottom + pageYOffset);
            if (crd.left <= mouseX && mouseX <= crd.right && (crd.top + pageYOffset) <= mouseY && mouseY <= (crd.bottom + pageYOffset)) {
                if (pointerElem.classList.contains('box-pointer-hidden')) {
                    pointerElem.classList.remove('box-pointer-hidden');
                }

                pointerElem.style.transform = 'translate3d(' + mouseX + 'px, ' + mouseY + 'px, 0px)';

            } else {
                pointerElem.classList.add('box-pointer-hidden');
            }
        }
    }
    function disablePointer() {
        requestAnimationFrame(function hidePointer() {
            for (var boxElem of boxElems) {
                boxElem.childNodes[0].nextElementSibling.childNodes[0].nextElementSibling.classList.add('box-pointer-hidden');
            }
        });
    }
    for (var boxElem of boxElems) {
        boxElem.addEventListener('mousemove', onMouseMove, false);
        boxElem.addEventListener('mouseleave', disablePointer, false);
    }
})();

    
</script>