{% assign fcontent = site.data.footercontent["content"] %}
<footer class="page-footer">
    <section class="section section-footer">
        <div class="row footer-firstcontainer">
            <div class="col l6 s12 is-animate">
                <h2 class="white-text lets-text ">{{fcontent.header}}</h2>
                <a class="lets-text lets-mail-link" href="tel:{{fcontent.phonelink}}">{{fcontent.phone}}</a>
                <a class="lets-text lets-mail-link" href="mailto:{{fcontent.mail}}">{{fcontent.mail}}</a>
            </div>
            <div class="col l4 offset-l2 s12 logo-footer-container">
                <svg height="120" id="logoSvgfooter" class="is-animate-last" width="150" viewBox="0 0 120 120" version="1.1"
                    xmlns="http://www.w3.org/2000/svg">
                    <circle class="circle-right" cx="75" cy="60" r="60" fill="#BD241F"/>
                    <circle class="circle-left" cx="45" cy="60" r="60" fill="black"/>
                </svg>
            </div>
        </div>
        <div class="row">
            <div class="col l6 s12">
                <h5 class="">
                    {{fcontent.address}}
                </h5>
            </div>
            <div class="col l4 offset-l2 s12 links-footer-container">
                <div class="row is-animate">
                    <div class="col s12 icons-container">
                        <a target="_blank" class="grey-text text-lighten-3" href="{{fcontent.facebookLink}}"><div class="icon-messenger icon-facebook"></div></a>
                        <a target="_blank" class="grey-text text-lighten-3" href="{{fcontent.instagramLink}}"><div class="icon-messenger icon-instagramm"></div></a>
                        <a target="_blank" class="grey-text text-lighten-3" href="{{fcontent.vkLink}}"><div class="icon-messenger icon-vk"></div></a>
                    </div>
                </div>
                
            </div>
        </div>
        <!--
        <div class="footer-copyright">
        © 2020 "ООО ТРАЕКТОРИЯ ВРЕМЕНИ"
        </div>
        -->
    </section>
    
</footer>

</body>