{% assign fcontent = site.data.footercontent["content"] %}
<footer class="page-footer">
    <section class="section section-footer">
        <div class="row footer-firstcontainer">
            <div class="col l6 s12">
                <h2 class="white-text lets-text is-animate">{{fcontent.header}}</h2>
                <a class="lets-text lets-mail-link is-animate-two" href="mailto:{{fcontent.mail}}">{{fcontent.mail}}</a><br><br>
                <a class="lets-text lets-mail-link is-animate-two" href="tel:{{fcontent.phonelink}}">{{fcontent.phone}}</a>
            </div>
            <div class="col l4 offset-l2 s12 logo-footer-container">
                <svg height="120" id="logoSvgfooter" class="is-animate-last" width="150" viewBox="0 0 120 120" version="1.1"
                    xmlns="http://www.w3.org/2000/svg">
                    <circle class="circle-right" cx="75" cy="60" r="60" fill="#BD241F"/>
                    <circle class="circle-left" cx="45" cy="60" r="60" fill="black"/>
                </svg>
            </div>
        </div>
        <div class="row">
            <div class="col l6 s12">
                <h5 class="is-animate">
                    <br />
                    {{fcontent.address}}
                </h5>
            </div>
            <div class="col l4 offset-l2 s12 links-footer-container">
                <div class="row">
                    <div class="col s6 is-animate-two">
                        <ul>
                            <li><a target="_blank" class="grey-text text-lighten-3" href="{{fcontent.facebookLink}}">FACEBOOK</a></li>
                            <li><a target="_blank" class="grey-text text-lighten-3" href="{{fcontent.instagramLink}}">INSTAGRAM</a></li>
                            
                        </ul>
                    </div>
                    <div class="col s6 is-animate-last">
                        <ul>
                            <li><a target="_blank" class="grey-text text-lighten-3" href="{{fcontent.vkLink}}">VK</a></li>
                        </ul>
                        
                    </div>
                </div>
                
            </div>
        </div>
        <!--
        <div class="footer-copyright">
        © 2020 "ООО ТРАЕКТОРИЯ ВРЕМЕНИ"
        </div>
        -->
    </section>
    
</footer>

</body>